{{>header}}
<div class="container">
    <h2>{{title}}</h2>

    <p><a class="btn btn-lg btn-success" href="/stationmgmt" role="button">Station Management</a></p>
    <p><a class="btn btn-lg btn-success" href="/breezecardmgmt" role="button">BreezeCard Management</a></p>
    <p><a class="btn btn-lg btn-success" href="/suspendedcards" role="button">Suspended Cards</a></p>
    <p><a class="btn btn-lg btn-success" href="/passengerflow" role="button">Passenger Flow Report</a></p>


</div>
