{{>header}}
      <div class="jumbotron">
        <h1 class="display-3">Welcome to Marta</h1>
        <p class="lead">Making transportation a breeze.</p>
        <p><a class="btn btn-lg btn-success" href="/register" role="button">Register today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Facts</h4>
          <p>Marta is not sketch.</p>

          <h4>Awards</h4>
          <p>None</p>

          <h4>News</h4>
          <p>Marta is switching back to blue cards.</p>
        </div>

      </div>

      <footer class="footer">
        <p>CS4400 Group 71</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
